:root {
  --teal: #008F83;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;            
}

html,
body {
  padding: 0;                        
  margin: 0;                         

  font-family: 'Trirong', serif;          
  font-size: 20px;                   

  background-color: var(--teal);        
}

h1 {
  font-size: 32px;
}

address {
  font-size: 14px;
}

label {
  font-weight: bold; 
}

input,
textarea {
  width: 100%;                       
}

input[type="date"] {
  height: 21px;
}

textarea {
  resize: none;                      
}

.flex-wrapper {
  display: flex;                      
  justify-content: center;            
  align-items: center;                
  min-height: 100vh;                  
}

.flex-container {
  width: 50%;                        
  display: flex;                     
  flex-direction: row;               

  border: 10px double var(--white);  

  border-radius: 10px;               
  overflow: hidden;                  
}

.flex-cell {
  background-color: var(--white);         

  padding: 8px;                      
}

.info {
  flex: 1;                           

  border-right: 3px solid var(--teal);    

  text-align: center;                
}

.form {
  flex: 2;                           

  display: flex;                     
  flex-wrap: wrap;                   
}

.form-cell {
  flex-grow: 1;                      
  flex-basis: 50%;                   

  padding: 4px;                      
}

.form-cell.fullwidth {
  flex-grow: 1;                      
  flex-basis: 100%;                  
}

.buttons {
  text-align: right;                 
}

footer {
  display: fixed;
}

/* MOBILE (Portrait) */
@media (orientation: portrait) {
  html,
  body {
    font-size: 20px;                 
  }

  .flex-container {
    width: 80%;                      
  }

  .flex-container {
    flex-direction: column;          

    margin: 20px 0;                  
  }

  .info {
    border-right: none;              
    border-bottom: 3px solid var(--teal); 
  }

  .form-cell {
    flex-basis: 100%;                
  }
}