* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
    background-color: #220038;
    color: white;
}

main {
    display: flex;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
}

/* CIRCLES */
main::before,
main::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    width: 100%;
    height: 100%;
    
    background: linear-gradient(#00d9ff, #9900ff);
}

/* BOTTOM-RIGHT BACKGROUND CIRCLE */
main::before {
    clip-path: circle(30% at right 70%);
}

/* TOP-RIGHT BACKGROUND CIRCLE */
main::after {
    clip-path: circle(50% at 10% 20%);
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 15px;
    overflow: hidden;

    min-width: 300px;
    padding: 32px;

    z-index: 3;
}

.title {
    font-size: 200%;
    font-weight: 300;
}

address {
    margin-top: 8px;
    line-height: 1.5;
}

.button {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 10px;

    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.75);
    font-weight: 500;
    text-decoration: none;
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.button:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.85);
}

.form-label {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 4px;

    font-weight: 400;
}

.form-input {
    width: 100%;
}

.column {
    float: left;
    width: 50%;
} 

footer {
    position: fixed;
    bottom: 5px;
    right: 20px;
    z-index: 2;

    font-size: 65%;
    color: rgba(255, 255, 255, 0.5);
}

.footer-link {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.footer-link:hover {
    font-size: 150%;

    color: rgba(255, 255, 255, 0.858);

    transition: 650ms;
}
