@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* BACKGROUND COLOR */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #220038;
}

/* BOTTOM-RIGHT BACKGROUND CIRCLE */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00d9ff, #9900ff);
    clip-path: circle(30% at right 70%);
}

/* TOP-RIGHT BACKGROUND CIRCLE */
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00d9ff, #9900ff);
    clip-path: circle(50% at 10% 20%);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}

/* GLASSMORPHISM EFFECT FOR CARD */
.container .card {
    position: relative;

    width: 500px;
    height: 480px;
    margin: 30px;
    
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 15px;
    background: rgba(255, 255, 255, .1);
    
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px); 
}

.wrapper,
h3 {
    color: #FFF;
    padding: 0px 8px 0px 8px;
}

/* ADDRESS AND PHONE */
.contact {
    list-style-type: none;
    text-align: center;
}

/* Dr. David L. Miller, DDS */
h3 {
    font-size: 2em;
    font-weight: 300;
    z-index: 1;
}

form input, textarea {
    width: 45%;
    padding: 3px;
}

.age {
    width: 35px;
}

.email,
textarea  {
    width: 90%;
}

.button {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 10px;

    background: rgba(255, 255, 255, .5);
    color: #161623;
    font-weight: 500;
    text-decoration: none;
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.button:hover {
    background: rgba(255, 255, 255, .2);
    color: rgba(255, 255, 255, .5);
    margin-top: 0px;
}

.signature {
    position: absolute;
    bottom: 5px;
    right: 20px;

    font-size: xx-small;
    color: rgba(255, 255, 255, .5);
}

.signature a {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
}

.signature a:hover {
    border: 1px solid olive;
    color: rgba(255, 255, 255, .8);
    cursor: pointer
}
